div#autocompletelist {
  max-height: 200px;
  overflow-y: scroll;
}

div#map_canvas {
    width:340px; 
    height:150px
}

#savebutton {
    position:fixed;
    bottom:15px;
    width:94%;
    color:green;
}​
