div#autocompletelist {
  max-height: 200px;
  overflow-y: scroll;
}

div#map_canvas {
    width:340px; 
    height:150px
}

#savebutton {
    position:fixed;
    bottom:15px;
    width:94%;
}​
.header {
    background-color: #ac2773;
}
.title {
    background:url(https://d1nhstnts0iwzs.cloudfront.net/assets/eet-nu/logo-de30a27783a298b1ba62b6e137674c48.png) no-repeat 0 0;
    margin-top: 13px;
    text-indent: -9999em;
    width: 100px;
}